<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.extrainteger.symbolic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <activity android:name="com.extrainteger.symbolic.ui.SymbolicOauthActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>
    </application>

</manifest>